/*
Frontend Mentor
3 Column Preview Card Component
C Lewis
clewisdev.com
March 2022
*/

/****** GLOBAL STYLES ******/

body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 3em; 
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1em;
    font-weight: 400;
    margin-right: 3rem;
    line-height: 2rem;
}

div {
    padding: 3rem;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 1em;
    font-weight: 700;
    width: 60%;
    margin-top: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
}

/****** CARD ******/

.card {
    width: 1080px;
    background-color: hsl(0, 0%, 95%); ;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

/****** COLUMNS ******/

.sedans {
    display: flex;
    flex-direction: column;
    background-color: hsl(31, 94%, 41%);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.sedansbutton {
    color: hsl(31, 77%, 52%);
}

.suvs {
    display: flex;
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
}

.suvsbutton {
    color: hsl(184, 100%, 22%);
}

.luxury {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.luxrybutton {
    color:hsl(179, 100%, 13%);
}


/****** MEDIA QUERIES - RESPONSIVE DESIGN ******/
/* changed width to small screen width
changed flex-direction to row so that the info panels stack on top of each other*/

@media screen and (max-width: 1000px) {
    .card {
        width: 350px;
        background-color: hsl(0, 0%, 95%); 
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
    }
      
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/